* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    font-family: "Sofia Sans Condensed";
    margin: 0;
    padding: 0;
    background-image: url(https://i.pinimg.com/originals/a9/cb/c8/a9cbc8547915b4927bc238e79aa4729d.gif);
}

header {
    background-image: url(witcher-1-9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    background-clip: content-box;
    color: white;
    margin: 0 auto;
    text-align: center;

}

.text {
    background-image: url(man.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-bottom: 5px;
}

h1 {
    padding-top: 90px;
    font-weight: 600;
    font-size: 77px;
    margin: 0 auto;
    z-index: 10;
    text-align: center;
}

main {
    padding-top: 70px;
    padding-bottom: 0px;
    font-size: 23px;
    background-image: url(image\ \(2\).png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: #ffff;
}

section {
    margin: 0 auto;
    max-width: 856px;
    max-height: 1440px;
    display: block;
    margin-bottom: 30px;
}

#New_Features {
    margin-bottom: 0px; 
}

section h2{
    margin: 0 auto;
    font-size: 43px;
    text-align: center;
}

section p {
    font-size: 23px;
}

.TextImg {
    display: flex;
}

.TextImg p {
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 37px;
    margin: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: white;
}