* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    font-family: "Sofia Sans Condensed";
    margin: 0;
    padding: 0;
    background-image: url(https://i.pinimg.com/originals/a9/cb/c8/a9cbc8547915b4927bc238e79aa4729d.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 
/*     Цей в мабуть зроблю коли не будь в майбутньому
.gradient {
    position: absolute;
    z-index: 8;
    background: linear-gradient(#00000060, #00000036);
    height: 100%;
    width: 100%;
}

position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
*/
header {   
    
    background-image: url(witcher-1-9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    background-clip: content-box;
    color: white;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
}

.text {
    background-image: url(man.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-bottom: 5px;
}

h1 {
    padding: 32px;
    padding-top: 130px;
    font-weight: 600;
    font-size: 80px;
    margin: 0 auto;
    text-align: center;
}

main {
    padding-top: 90px;
    padding-bottom: 0px;
    font-size: 23px;
    background-image: url(image\ \(2\).png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: #ffff;
}

section {
    margin: 0 auto;
    max-width: 900px;
    max-height: 1440px;
    display: block;
    margin-bottom: 70px;
}

#New_Features {
    margin-bottom: 0px; 
}

section h2{
    margin: 0 auto;
    font-size: 43px;
    text-align: center;
}

section p {
    font-size: 23px;
}

.TextImg {
    display: flex;
}

.TextImg p {
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin: 30px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: white;
}
